---
export const prerender = false;

import { db, eq } from "astro:db";
import Info from "../../components/Info.astro";
import { Film, Vote, User } from "astro:db";
import Rating from "../../components/Rating.astro";
import { type Props as RatingProps } from "../../components/Rating.astro";
import InfoRating from "../../components/InfoRating.astro";
import CommentSection from "../../layouts/CommentSection.astro";
const { slug } = Astro.params;

const [{ id, title, releaseYear, link, insertBy }] = await db
  .select()
  .from(Film)
  .where(eq(Film.slug, slug ?? ""))
  .limit(1);

const [{ username }] = await db
  .select()
  .from(User)
  .where(eq(User.id, insertBy))
  .limit(1);

const ratings = await db.select().from(Vote).where(eq(Vote.filmId, id));

const validRatings = ratings.filter((r) => r.rating !== 0);
const averageRating = validRatings.length
  ? validRatings.reduce((acc, { rating }) => acc + rating, 0) /
    validRatings.length
  : 0;

if (Astro.request.method === "POST") {
  try {
    const formData = await Astro.request.formData();
    const ratingData = formData.get("rating");
    const rating = ratingData ? Number(ratingData.toString()) : 0;
    await db
      .insert(Vote)
      .values({
        filmId: id,
        userId: 1, // TODO: replace with actual user ID from auth context
        rating,
      })
      .onConflictDoUpdate({
        target: [Vote.filmId, Vote.userId],
        set: { rating },
      });
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<CommentSection
  subtitle="Film"
  comments={Array.from({ length: 10 }).map(() => ({
    author: "Mario Rossi",
    content:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris.",
    date: new Date(),
  }))}
>
  <h2 class="item-name">
    {title}
    <Rating readonly rating={averageRating as RatingProps["rating"]} />
  </h2>
  <form class="vote-form" method="POST">
    <InfoRating label="Il tuo voto:" buttonType="submit" />
  </form>
  <div class="info-wrapper">
    <Info
      label="Anno di uscita:"
      info={String(releaseYear || "Anno non disponibile")}
    />
    <Info label="Aggiunto da:" info={username} />
    <Info label="Link:" info={link} isLink />
  </div>
</CommentSection>
<style>
  .vote-form {
    display: block;
    margin-bottom: 1rem;
  }
  .item-name {
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .info-wrapper {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, minmax(100px, 200px));
  }
</style>
