---
export const prerender = false;

import Info from "../../components/Info.astro";
import Main from "../../components/Main.astro";
import Layout from "../../layouts/Layout.astro";
const { slug } = Astro.params;
---

<Layout subtitle="Film">
  <Main>
    <h2 class="item-name">{slug}</h2>
    <div class="info-wrapper">
      <Info label="aaaaa" info="'bbbbbbbb" />
      <Info label="aaaaa" info="'bbbbbbbb" />
      <Info label="aaaaa" info="'bbbbbbbb" />
    </div>
    <div class="comment-wrapper"></div>
  </Main>
</Layout>
<style>
 .item-name {
  padding-bottom: 1rem;
 }
</style>
