---
import Main from "./Main.astro";
import RatingResume, {
  type Props as RatingResumeProps,
} from "./RatingResume.astro";
export interface Props {
  ratings: RatingResumeProps[];
  title: string;
}
---

<Main>
  <div class="title-wrapper">
    <h2 class="font-neutral-bold">{Astro.props.title}</h2>
    <a class="icon-button" href="/films/new">&plus;</a>
  </div>

  <ul>
    {
      Astro.props.ratings.map((rateProps) => (
        <li>
          <RatingResume {...rateProps} />
        </li>
      ))
    }
  </ul>
</Main>
<style>
  .title-wrapper {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  .icon-button {
    font-size: 2rem;
    text-decoration: none;
    display: block;
  }
  .icon-button:hover {
    text-decoration: none;
  }
  li {
    list-style: none;
    padding-bottom: 1rem;
  }
  li:not(:first-child) {
    margin-top: 1rem;
  }
  li:not(:last-child) {
    border-bottom: 1px solid #ebebeb;
  }
</style>
