---
import { Image } from "astro:assets";
import Rating from "./Rating.astro";
import {type Props as RatingProps} from "./Rating.astro";

export interface Props {
  title: string;
  href: string;
  ratings: RatingProps["rating"][];
}

const props = Astro.props;
---

<div class="film">
  <h2 class="film-title"><a href={props.href}>{props.title}</a></h2>
  <div class="votes">
    {props.ratings.map((rating) => (
      <div>
        {/* <Image src="../assets/film1.jpg" alt="Film 1" height="200" width="200" /> */}
        <Rating rating={rating} readonly />
      </div>
    ))}
  </div>
</div>

<style>
  .film {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
  .film-title {
    font-size: 1.25rem;
    font-weight: 400;
    width: 200px;
  }
  .votes {
    display: flex;
    gap: 0.857rem;
  }
</style>