---
export interface Props {
  vote: 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10;
  readonly?: boolean;
}

const props = Astro.props;
const elements = [
  [1, 2],
  [3, 4],
  [5, 6],
  [7, 8],
  [9, 10],
];
---

<div
  class:list={["wrapper", { readonly: props.readonly }]}
>
  {
    elements.map((partial) => (
      <div class="vote">
        <button
          class:list={[{ active: partial[0] <= props.vote }]}
          disabled={props.readonly}
          data-vote={partial[0]}
        />
        <button
          data-vote={partial[1]}
          disabled={props.readonly}
          class:list={[{ active: partial[1] <= props.vote }]}
        />
      </div>
    ))
  }
</div>

<style>
  .wrapper {
    display: flex;
    gap: 0.25rem;
  }
  .readonly {
    pointer-events: none;
  }
  .vote {
    display: flex;
    border-radius: 999px;
    overflow: hidden;
    width: 0.875rem;
    height: 0.875rem;
    background: #bbbbbb;
  }
  button {
    padding: 0;
    flex: 1;
    cursor: pointer;
  }
  button:hover {
    background: #fe4500;
  }
  button.active {
    background: #fe4500;
  }
</style>
<script>
  document.querySelectorAll(".wrapper").forEach((wrapper) => {
    wrapper.addEventListener("mouseover", (e) => {
      if (wrapper.classList.contains("readonly")) return;

      //it's important to use closest here, 
      //because the user might hover either the button or the div.vote
      const btn = (e.target as Element)?.closest("button");
      if (!btn) return;

      const vote = Number(btn.dataset.vote);

      wrapper.querySelectorAll("button").forEach((b) => {
        b.classList.toggle("active", Number(b.dataset.vote) <= vote);
      });
    });

    wrapper.addEventListener("mouseleave", () => {
      if (wrapper.classList.contains("readonly")) return;

      wrapper.querySelectorAll("button").forEach((b) => {
        b.classList.remove("active");
      });
    });
  });
</script>
