---
import Film from "./Film.astro";
import Main from "./Main.astro";
---

<Main>
  <h1 class="font-neutral-bold">GRADIMENT</h1>
  <h2 class="font-neutral-bold">FILM</h2>
  <ul>
    <li><Film title="Inception" /></li>
    <li><Film title="The VVitch" /></li>
    <li><Film title="Hotel Transylvania" /></li>
    <li><Film title="C" /></li>
    <li><Film title="D" /></li>
  </ul>
</Main>
<style>
  li {
    list-style: none;
    padding-bottom: 1rem;
  }
  li:not(:first-child) {
    margin-top: 1rem;
  }
  li:not(:last-child) {
    border-bottom: 1px solid #ebebeb;
  }
</style>
